.button {
  margin: 2vh auto;
  padding: 2vh 6vw;
  background-color: lightgreen;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: green;
}

.small {
  padding: 1vh 2vw;
}
