@keyframes spawn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.result {
  margin: 1vh auto;
  border-radius: 8px;
  border: 1px solid #e6e6e6;
  padding: 1vw;
  animation-name: spawn;
  animation-duration: 0.5s;
}

.result > a {
  display: block;
  width: 100%;
}
